<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="default" color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Профил</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">
  <ion-grid class="profile-info">
    <ion-row><img src="../../../../../assets/icons/cat-book-medium.png"></ion-row>
    <h1>Добре дошли,</h1>
    <ion-row>
      <ion-col>Потребителско име</ion-col>
    </ion-row>

    <!-- <ion-button expand="block" color="danger" (click)="logout()">
      Излез от профила си
    </ion-button> -->

  </ion-grid>
</ion-content>
