<ion-header>
  <ion-toolbar>
    <ion-title>Добавяне на обезпаразитяващо</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Затвори</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked" class="h1">Име на метода (бълг.)*:</ion-label>
      <ion-input [(ngModel)]="form.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="fs13">Име на метода (англ.):</ion-label>
      <ion-input [(ngModel)]="form.titleEn"></ion-input>
    </ion-item>

    <!-- Deworming Type Dropdown -->
    <ion-item>
      <ion-label position="stacked">Тип на метода*</ion-label>
      <ion-select [(ngModel)]="form.type" interface="popover">
        <ion-select-option *ngFor="let type of typeOptions" [value]="type.value">
          {{ type.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="mt-2">
      <ion-label position="stacked" class="fs16 fb600 c-blue">Описание:</ion-label>
      <ion-input [(ngModel)]="form.description"></ion-input>
    </ion-item>

    <ion-item class="mt-2">
      <ion-label position="stacked" class="fs16 fb600 c-blue">За какво се използва?</ion-label>
      <ion-input [(ngModel)]="form.usage"></ion-input>
    </ion-item>

    <ion-item class="mt-2">
      <ion-label position="stacked" class="fs16 fb600 c-fail">Нужни материали:</ion-label>
    </ion-item>

    <ion-label class="fs13 mt-2">Нужен материал:</ion-label>
    <ng-container *ngFor="let step of form.materials; let j = index">
      <ion-item>
        <ion-input [(ngModel)]="form.materials[j]" placeholder="Нужен материал #{{ j + 1 }}"></ion-input>
        <ion-button fill="clear" color="danger" size="small" (click)="removeMaterial(j)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>

    <ion-button expand="block" size="small" fill="outline" (click)="addMaterial()">
      Добави нужен материал
    </ion-button>

    <ion-item class="mt-2">
      <ion-label class="fs16 fb600 c-fail">Начин:</ion-label>
    </ion-item>

    <ion-label class="fs13 mt-2">Стъпки:</ion-label>
    <ng-container *ngFor="let step of form.steps; let j = index">
      <ion-item>
        <ion-input [(ngModel)]="form.steps[j]" placeholder="Стъпка #{{ j + 1 }}"></ion-input>
        <ion-button fill="clear" color="danger" size="small" (click)="removeStep(j)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>

    <ion-button expand="block" size="small" fill="outline" (click)="addStep()">
      Добави стъпка
    </ion-button>

    <ion-item>
      Полетата със * са задължителни!
    </ion-item>
  </ion-list>


  <ion-button expand="block" color="primary" (click)="save()">Запази</ion-button>
</ion-content>
