.component-header {
  font-weight   : bold;
  margin-top    : 10px;
  margin-bottom : 10px;
}

.component-content {
  border        : solid #dedede 1px;
  border-radius : 3px;
}

.large-button {
  display: flex;
  //background-color: #eafff3;
  background-color: #59f59b57;
  padding: 10px;
  border: solid 1px #dedede;
  border-radius: 5px;
  margin-top: 10px;
}

// Всичко тога го има в global.scss, но не работи за тази страничка!
.pill-green {

  display       : inline-block;
  padding       : 2px 4px;
  margin-top    : 4px;

  border        : solid #60dba3 1px;

  font-size     : 12px;
  font-weight   : bold;
  //background    : #eafff3;
  background    : #59f59b57;
  color         : #60dba3;
  border-radius : 2px;
}

.m-gap1drug { margin-top: 8px; margin-bottom: 8px; }

.c-success   { color      : #28b02f; }
.c-fail      { color      : #d60b52; }
.c-blue      { color      : #2196f3; }

.fs1rem { font-size: 1rem; }
.fs08rem { font-size: 0.875rem; }

.h1 { font-size: 20px; font-weight: bold; }
.h2 { font-size: 18px; font-weight: bold; }

.fs16 { font-size: 16px; }
